@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap');
*{
    font-family: 'Roboto Slab', serif;
}
.appheader{
    background-color: rgb(206, 251, 239) !important;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid rgb(23, 241, 212) ;

}
#logoimageheader{
    width: 190px;
    margin: 0;
    padding: 0;
    height: 90px;
    margin-right: 40px;
}



.nav-item{
   font-weight: 600;
    margin: 0% 5% 0% 5%;
    padding: 0% 0% 0% 0%;
}

#searchbarheader{

    width: 350px;
}